.grid-block, .main, .post, .comments li, .comment-form {
    background: #fff;
    border-radius: 0px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

body {
  width: 100%;
  height: 100%;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  background: #eee;
  color: #666666;
}

html {
  width: 100%;
  height: 100%;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  /*text-transform: uppercase;*/
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

h1, h2 {
  /*text-transform: uppercase;*/
}

p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
}

.navbar {
  margin-bottom: 10px;
  background-color: rgba(255,255,255,.6)
}

.navbar .navbar-inner {
  border-radius: 0px 0px 3px 3px;
}

.navbar-custom .navbar-brand .navbar-toggle {
  padding: 4px 6px;
  font-size: 16px;
  color: #fffff;
}

.navbar-brand {
  color: black;
  font-family: "Pacifico", "Helvetica Neue";
  font-weight: 700;
  font-size: 21px;
}

.brand-heading {
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.45);
  font-size: 45px;
}

/* My own */
.intro {
  display: table;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  /*padding: 100px 0;*/
  padding-top: 300px;
  padding-bottom: 150px;
  text-align: center;
  color: #ffffff;
  background: url(facebook_monkey.jpg) no-repeat bottom center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.intro .intro-body {
  display: table;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}

.intro .intro-body .brand-heading {
  font-size: 60px;
}

.intro .intro-body .intro-text {
  font-size: 18px;
}

.intro .intro-footer {
  display: inline;
  vertical-align: middle;
}

/* For ordinary PC screen */
@media(min-width:767px) {

}

.pacific {
  font-family: "Pacifico", "Helvetica Neue";
}



#spinner {
  height: 300px;
}

.post {
    *zoom: 1;
    -webkit-transition: all 300ms 0ms;
    -webkit-transition-delay: ease-in;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in;
    position: relative;
    opacity: 1;
}
.post:before, .post:after {
    content: "";
    display: table;
}
.post:after { clear: both }
.post.invisible { opacity: 0 }
.post .upvote {
    display: block;
    margin: 7px 12px 0 0;
    float: left;
}
.post .post-content { float: left }
.post .post-content h3 {
    margin: 0;
    line-height: 1.4;
    font-size: 18px;
}
.post .post-content h3 a {
    display: inline-block;
    margin-right: 5px;
}
.post .post-content h3 span {
    font-weight: normal;
    font-size: 14px;
    display: inline-block;
    color: #aaaaaa;
}
.post .post-content p { margin: 0 }
.post .discuss {
    display: block;
    float: right;
    margin-top: 7px;
}
.comments {
    list-style-type: none;
    margin: 0;
}
.comments li h4 {
    font-size: 16px;
    margin: 0;
}
.comments li h4 .date {
    font-size: 12px;
    font-weight: normal;
}
.comments li h4 a { font-size: 12px }
.comments li p:last-child { margin-bottom: 0 }
.dropdown-menu span {
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 20px;
    color: #bbb;
    white-space: nowrap;
}
.load-more {
    display: block;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.05);
    text-align: center;
    height: 60px;
    line-height: 60px;
    margin-bottom: 10px;
}
.load-more:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1);
}
