<template name="mocksList">
      {{#each mocks}}
        {{> mockItem}}
      {{/each}}
</template>

<template name="mockItem">
  <div class="col-md-4">
    <div class="col-md-12 thumbnail" id="thumbnail-1"
         data-anchor-target="#content-1 #section-title-1">
      <a href="{{url}}"><img data-src="holder.js/100%x180" alt="..."></a>
      <div class="caption text-center">
        <a href="#"><span class="fa fa-lg fa-thumbs-up user-button"></span></a>&nbsp;&nbsp;
        <a href="#"><span class="fa fa-lg fa-thumbs-down user-button"></span></a>&nbsp;&nbsp;
        <a href="#"><span class="fa fa-lg fa-comment user-button"></span></a>
      </div>
    </div>
  </div>
</template>